.settings__setting {
  padding: 20px 0;
  border-bottom: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  margin-right: 10px;
}
.settings__setting-column:last-child {
  opacity: 0.6;
}
.setting-list2 {
  margin-top: 30px;
}
.settings__setting-column_new {
  background-color: tomato;
  width: 15px;
  height: 15px;
  color: whitesmoke;
  border-radius: 50px;
}
.setting-new {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50px;
  background-color: tomato;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings__setting-column {
  display: flex;
}
